body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    min-height: 100vh;
    min-width: 100vw;

}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #F3F4F6;
    overflow: scroll;


}


@media (max-width: 896px) {
    #root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-color: #F3F4F6;
        overflow: scroll;

    }

}
