.dropdown {
    /*position: relative;*/
    border-radius: 20px;
    background-color: white;
    gap: 20px;
    width: 564px;
    box-sizing: border-box;


}

.menu {
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

}

.gap {
    height: 5px;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.5);
    box-sizing: border-box;

}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100%;
    font-size: 20px;
}


.dropdown-button, .menu-button {
    background: none;
    /*background-color: white;*/
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;


}

.button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.dropdown-button {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15px;
    min-width: 500px;
    border-bottom: none;
    box-sizing: border-box;
}

.menu-button:hover {
    background-color: #ddd;
    color: black;
}

.dropdown-button:hover {
    background-color: #ddd;
    color: black;
}