.personal-details,
.education-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}




