.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    outline: solid 3px black;
    min-height: 100%;
    padding: 50px 20px 20px;
    box-sizing: border-box;
    width: 50%;

}


.personal-details,
.education-form,
.experience-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 500px;
    padding: 50px 20px 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
}

label {
    width: 100%;

}

input {
    width: 100%;
    border-radius: 20px;
    height: 40px;
    background-color: #F3F4F6;

}

.personal-details {
    min-height: 500px;
    justify-content: space-between;
}

.personal-details-div {
    padding: 30px;
    font-size: 16px;
    min-width: 500px;
    min-height: 500px;
    box-sizing: border-box;
}

#fullName {
    width: 100%;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    text-align: left;
    min-width: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;


}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


