.personal-details,
.education-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.info-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.dropdown {
    position: relative;

}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
    width: 100%;

}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*.menu > li {*/
/*    margin: 0;*/
/*    background-color: white;*/
/*}*/

/*.menu > li:hover {*/
/*    background-color: lightgrey;*/

/*}*/

.dropdown-button, .menu-button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;
    align-content: center;



}
.dropdown-button {
    border-radius: 10px;
    gap: 15px;
}

.menu-button:hover {
    background-color: #ddd;
    color: black;
}

.dropdown-button:hover {
    background-color: #ddd;
    color: black;
}


/*.menu > li > button {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    text-align: left;*/

/*    background: none;*/
/*    color: inherit;*/
/*    border: none;*/
/*    padding: 5px;*/
/*    margin: 0;*/
/*    font: inherit;*/
/*    cursor: pointer;*/

/*}*/
